In [1]:
import pandas as pd
import numpy as np

In [40]:
origin = pd.read_csv("../data/xbdata.csv", names=['s', 'q', 'r'], 
                     sep='\001', dtype='object')
print(origin.shape)
origin.head()

(2494, 3)

             s        q  r
0  73011062240  1001731  1
1  73011062240  1006886  1
2  73011067382  1001441  0
3  73011067382  1001441  1
4  73011061163  1002031  0

In [41]:
groupby_s = origin.groupby(['s']).count()['q']
groupby_s = groupby_s.sort_values(ascending=False)
groupby_s[:20]

s
73011061163    280
73011067886    246
73011055798    184
73011067064    162
73011056567    110
73011067250    105
73011068081     97
73011065828     96
73011047206     86
73011063590     69
73011067944     59
73011066234     53
73011055650     53
73011051243     52
73011055471     51
73011043423     50
73011049010     49
73011062734     47
73011062240     43
73011068318     42
Name: q, dtype: int64

In [42]:
groupby_q = origin.groupby(['q']).count()['s']
groupby_q = groupby_q.sort_values(ascending=False)
groupby_q[:20]

q
1001048    81
1001049    50
1002876    44
1009411    38
1001335    33
1009235    32
1013564    28
1002880    27
1001731    26
1001280    24
1009597    24
1001127    22
1007786    22
1001173    22
1007782    21
1002716    20
1002870    20
1013622    19
1001170    19
1007767    19
Name: s, dtype: int64

In [44]:
'Question group count', groupby_q.shape, 'Student group count', groupby_s.shape

('Question group count', (543,), 'Student group count', (47,))

In [45]:
groupby_qs = origin.groupby(['q', 's']).count()['r']
groupby_qs = groupby_qs.sort_values(ascending=False)
groupby_qs[:20]

q        s
1001048  73011067064    81
1001049  73011067064    50
1002876  73011056567    40
1009411  73011063590    38
1009235  73011055798    32
1001335  73011067944    32
1009597  73011066257    24
1001280  73011063482    24
1002880  73011056567    23
1001173  73011067250    22
1007786  73011068081    22
1001127  73011051243    22
1007782  73011068081    21
1002716  73011049010    20
1001170  73011067250    19
1002870  73011056567    19
1007767  73011068081    19
1009333  73011067886    18
1013622  73011062734    18
1007769  73011068081    18
Name: r, dtype: int64